In [1]:
print("hello world")

hello world

In [2]:
x = 7
print(x)

7

In [3]:
a = 10
print(a)

10

In [6]:
print("hello" , "world" , "!" , 4)

hello world ! 4

In [7]:
test = 100
test

100

In [8]:
test2 = 200
test2
test3 = 300
test3

300

In [9]:
test2 = 200
print(test2)
test3 = 300
print(test3)

200
300

In [10]:
4 + 5

9

In [11]:
14//3

4

In [12]:
14%3

2

In [13]:
4^123

127

In [14]:
694 % 13

5

In [15]:
5*12345

61725

In [16]:
type(5.0)

float

In [17]:
print(type(5.0))

<class 'float'>

In [18]:
print(type("test"))

<class 'str'>

In [19]:
print(type(5 == 4))

<class 'bool'>

## List type

In [21]:
list_ex = [ 3 , 92 , "x" , 3.14]

In [22]:
print(list_ex)

[3, 92, 'x', 3.14]

In [23]:
print(len(list_ex))

4

In [24]:
type(list_ex)

list

how to use index

In [25]:
A = [5 , 6 , 7, 8, 9 , 10]

In [26]:
A[0]

5

In [27]:
A[1]

6

In [28]:
A[5]

10

In [29]:
x = [1 , 1, 1, 1, 1, 1, 1]

In [30]:
x.append(6)

In [31]:
x

[1, 1, 1, 1, 1, 1, 1, 6]

how to use slice

In [32]:
y = [ 1, 3 ,5 ,7, 9]

In [33]:
y[2:4]

[5, 7]

In [34]:
y[:]

[1, 3, 5, 7, 9]

In [35]:
y

[1, 3, 5, 7, 9]

In [36]:
y[:3]

[1, 3, 5]

In [37]:
y[3:]

[7, 9]

In [38]:
g = [ 0 , 1 , 2 , 3 , 4, 5 , 6 , 7 ,8]

In [39]:
g[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
g[3:5]

[3, 4]

In [41]:
g[:6]

[0, 1, 2, 3, 4, 5]

In [42]:
g[6:]

[6, 7, 8]

## typle

In [43]:
tuple_ex=( 5 , "11" , "a" , 2.86)

In [45]:
tuple_ex

(5, '11', 'a', 2.86)

In [46]:
type(tuple_ex)

tuple

In [47]:
print(type(tuple_ex))

<class 'tuple'>

In [49]:
tuple_ex[2]

'a'

In [50]:
pt_tuple = (2, 3, 2, 3)

In [51]:
len(pt_tuple)

4

In [52]:
pt_tuple[:]

(2, 3, 2, 3)

## Range type

In [53]:
range_ex = range(7)

In [54]:
print(range_ex)

range(0, 7)

In [55]:
for i in range(5):
    print(i)

0
1
2
3
4

In [56]:
text = "hello world"

In [57]:
text[6:]

'world'

In [59]:
text[6:11]

'world'

## Dictionary pytpe

In [62]:
score = {"Eng":50 , "Math":80 , "Tech":60}

In [63]:
score["Eng"]

50

In [64]:
type(score)

dict

In [67]:
score["Sci"] = 55

In [68]:
score

{'Eng': 50, 'Math': 80, 'Tech': 60, 'Sci': 55}

## Arithmetic operator

In [69]:
x = 5
y = 2.0 
z = -13

In [72]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [73]:
x + y

7.0

In [74]:
type(x + y)

float

In [75]:
x - y

3.0

In [76]:
x * y

10.0

In [77]:
x / y

2.5

In [78]:
x // y

2.0

In [79]:
x % y

1.0

In [81]:
# Absolute value
abs(z)

13

In [82]:
x ** y

25.0

## Comparison operator

In [83]:
i = 3
j = 7

In [84]:
print( i > j )

False

In [85]:
i > j

False

In [86]:
i >= j

False

In [87]:
i < j

True

In [88]:
i >= j

False

In [89]:
i <= j

True

In [90]:
i == j

False

In [92]:
# this means not equal
i != j

True

In [93]:
x = 21

In [94]:
x

21

In [95]:
x += 3

In [96]:
x

24

In [97]:
x -= 3

In [98]:
x

21

In [99]:
x *= 3

In [100]:
x

63

In [101]:
x /= 3

In [102]:
x

21.0

## format notation

In [104]:
print('{2}'.format('a','b','c'))

c

## CAST
convert data type

In [106]:
x = 3
print(x)
print(type(x))

print('-'*100)
y = float(x)
print(y)
print(type(y))

3
<class 'int'>
----------------------------------------------------------------------------------------------------
3.0
<class 'float'>

## List , tuple
convert data type

In [108]:
new_list = [3,7,20,'@','takumi','kaggleMaster']
print(new_list)
print(type(new_list))

print('-'*100)

new_tuple = tuple(new_list)
print(new_tuple)
print(type(new_tuple))

[3, 7, 20, '@', 'takumi', 'kaggleMaster']
<class 'list'>
----------------------------------------------------------------------------------------------------
(3, 7, 20, '@', 'takumi', 'kaggleMaster')
<class 'tuple'>

## FlowControl

### If

In [5]:
x = 5
y = 5

# you have to make indent
if x == y:
    print('x&y are equal')

x&y are equal

In [6]:
x = 5 
y = 8

if x ==y:
    print('x & y are equal')
else:
    print('x & y are NOT equal')

x & y are NOT equal

In [7]:
x = 6
y = 3

if x == y:
    print('x & y are equal')
elif x < y:
    print('x is smaller')
else:
    print('y is smaller')

y is smaller

In [52]:
a = 2

In [54]:
print('trure') if a == 2 else print('false')

trure

### While

The while statement repeats the process as long as a certain conditional expression is satisfied

In [16]:
n = 0 
while n < 5:
    print(n)
    n += 1

0
1
2
3
4

In [21]:
n = 0 
while n < 5:
    print('n =',n)
    n += 1
else:
    print('n =' , n , ': smaller than 5')

n = 0
n = 1
n = 2
n = 3
n = 4
n = 5 : smaller than 5

## For

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
text = 'KaggleMaster takumig'
for g in text:
    print(g)

K
a
g
g
l
e
M
a
s
t
e
r

t
a
k
u
m
i
g

## break

In [59]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
favorite_color = 'blue'
for color in colors:
    if color == favorite_color:
        print('{} is favorite color'.format(color))
    else:
        print('{} is NOT favorite color'.format(color))

red is NOT favorite color
blue is favorite color
green is NOT favorite color
yellow is NOT favorite color
white is NOT favorite color

In [63]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [67]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
favorite_color = 'blue'
for idx, color in enumerate(colors):
    if color == favorite_color:
        print('{} :{} is favorite color'.format(idx, color))
    else:
        print('{} :{} is NOT favorite color'.format(idx, color))

0 :red is NOT favorite color
1 :blue is favorite color
2 :green is NOT favorite color
3 :yellow is NOT favorite color
4 :white is NOT favorite color

In [ ]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
colors_png = ['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [70]:
colors_png=[]
for color in colors:
    color_png = color + '.png'
    colors_png.append(color_png)

In [72]:
colors_png

['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [73]:
[ color + '.png' for color in colors]

['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [32]:
n = 0 
while n < 6:
    print(n)
    if n == 3:
        break
    n += 1

0
1
2
3

## continue

In [33]:
n = 0
while n < 6:
    n += 1
    if n == 3:
        continue
    print(n)

1
2
4
5
6

## practice

In [36]:
a = 3
if a ==3:
    print('ok')

ok

In [41]:
b = 5
if b >= 5:
    print('ok')
else:
    print('bad')

ok

In [46]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [50]:
ex_list = []
for i in range(0,6):
    ex_list.append(i)
print(ex_list)

[0, 1, 2, 3, 4, 5]

# Function

In [78]:
def is_even(num):
    return num % 2 == 0

In [79]:
print(is_even(55))

False

In [80]:
is_even(100)

True

In [82]:
def function_name (param1 , param2):
    print('something for {} and {}'.format(param1, param2))
    return param1 + 'and' + param2

In [84]:
arg1 = 'argument1'
arg2 = 'argument2'
function_name(arg1, arg2)

something for argument1 and argument2

'argument1andargument2'

In [88]:
def plus_func (num1, num2):
    return num1 + num2

In [97]:
def func_name(param1, param2):
    '''
    this function does param1 + param2
    
    parameters
    -------------------------
        param1: int & str are OK
        param2: int & str are OK
    '''
    print('this function is {} + {}'.format(param1, param2))
    return param1 + param2

In [95]:
func_name('Mac','Book')

this function is Mac + Book

'MacBook'

### local variable

In [98]:
def myfunc():
    inside_variable = 300
    print(inside_variable)

In [101]:
print(inside_variable)

NameError: name 'inside_variable' is not defined

### lambda function

In [103]:
# example1
(lambda x : x + 10)(3)

13

In [104]:
(lambda a ,b : a*b)(5,6)

30

In [105]:
(lambda a, b, c : a + b + c)(100, 10, 1)

111

### Map function

In [106]:
list(map(lambda a : a **2, range(11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mutable vs Immutable
can change vs can NOT change

In [107]:
list_a = [1, 2, 3]

In [108]:
id(list_a)

140625743154560

In [109]:
list_a += [4, 5, 6]

In [110]:
list_a

[1, 2, 3, 4, 5, 6]

In [111]:
id(list_a)

140625743154560

In [114]:
a = 3
print(id(a))
a += 4
print(a)
print(id(a))

93902781832576
7
93902781832704

In [116]:
def append_elem(list_param, elem=0):
    
    list_param.append(elem)
    
    return list_param

In [120]:
list_a = [1, 2, 3]
list_b = append_elem(list_a, elem=4)

In [121]:
list_b

[1, 2, 3, 4]

In [122]:
list_a

[1, 2, 3, 4]

In [125]:
def add_num (param, num=0):
    
    param += num
    
    return param

In [126]:
num_a = 4
num_b = add_num(num_a, 3)

In [127]:
num_b

7

In [128]:
num_a

4

## [Execise] Make function!!

In [74]:
def add_extension(filename_list, extension='.png'):
    
#     result_list =[]
    
#     for idx, filename in enumerate(filename_list):
#         result_list.append("{f}_{i}{e}".format(f=filename, i=idx, e=enumilate)
        
    return ["{f}_{i}{e}".format(f=filename, i=idx, e=extension) for idx, filename in enumerate(filename_list)]
#     return result_list

In [77]:
file_list = ['file1', 'file2', 'file3']
add_extension(file_list, 'jpg')

['file1_0jpg', 'file2_1jpg', 'file3_2jpg']

In [72]:
a = [1, 2, 3]
# b = [10, 20, 30]
[ i*10 for i in a]

[10, 20, 30]

## module

In [4]:
import mymodule as mm

In [5]:
mm.greeting('haru')

Hello, haru

In [10]:
import datetime as date

In [12]:
time_now = date.datetime.now()
print('Now time & date', time_now)
print('year', time_now.year)
print('現在の曜日は',time_now.strftime("%A"))

Now time & date 2021-06-16 03:49:04.293935
year 2021
現在の曜日は Wednesday

In [16]:
new_date = date.datetime(2020, 5, 17)
print(new_date.month)

5

In [17]:
import math

In [20]:
sq_root = math.sqrt(64)
print(sq_root)

8.0

In [21]:
pi = math.pi
print(pi)

3.141592653589793

In [23]:
e = math.e
print(e)

2.718281828459045

In [24]:
import random

In [26]:
ramdom_int = random.randint(0, 9)
print(ramdom_int)

1

In [30]:
random_num = random.randrange(9)
print(random_num)

2

## File Control

In [31]:
import os

In [32]:
file_path = os.getcwd()+'/Machine_Learning_AI.txt'

In [33]:
txt_file = open(file_path, 'r')

In [34]:
print('file name is ',txt_file.name)
print('mode is ', txt_file.mode)

file name is  /work/Tech_IS/Basic/Machine_Learning_AI.txt
mode is  r

In [35]:
txt_file.close()

In [37]:
txt_file = open(file_path, 'r')
line = txt_file.read()
line

'Unit 1: Introduction To Python - \n\nIntro to the Python Programming language\nControl structures and functions\nImporting libraries - Numpy and Pandas Basics\nData wrangling and cleaning\nExploratory Data Analysis and descriptive statistics\n\nUnit 2: Database Management - \n\nIntroduction to Databases and SQL\nRetrieving data with SQL\nWriting SQL Queries\nFunctions and aggregations\nJoins in SQL\n\nUnit 3: Statistics and Data Visualisation - \n\nData Visualisation using matplotlib/seaborn\nPlotting Data distributions\nIntroduction to probability\nDiscrete and Continuous probability distributions\nInferential Statistics and Hypothesis testing\n\nUnit 4: Machine Learning:\n\nIntroduction to machine learning models \nSimple and Multiple Regression Models\nLogistic Regression\nROC and AUC analysis\nKNN and Naive Bayes classifier\nSVM Classification and Regression\nTree Based models:\n- Decision trees\n- Truncation and pruning\n- Random Forests and Bagged models\n- Gradient Boosted models\nFeature selection methods \nModel evaluation and hyper parameter tuning \nUnsupervised Learning:\n- Clustering (K means and Hierarchical)\n- Principal Component Analysis\nRecommender Systems\n\nUnit 5 - Artificial Intelligence:\n\nIntro to Neural Networks\nTypes of Neural Networks\nImage classification\nDeep Learning Neural Networks\n\nIntro to NLP\nBasic Lexical processing\nText classification / Topic modelling / Document summarisation\nReinforcement Learning Models\n\nNotes:\n\nUnit 5 could probability be split in 2 depending on how comprehensive the coverage is\n\n'

In [40]:
with open(file_path,'r') as active_file:
    file_content = active_file.read()
    print(file_content)

Unit 1: Introduction To Python -

Intro to the Python Programming language
Control structures and functions
Importing libraries - Numpy and Pandas Basics
Data wrangling and cleaning
Exploratory Data Analysis and descriptive statistics

Unit 2: Database Management -

Introduction to Databases and SQL
Retrieving data with SQL
Writing SQL Queries
Functions and aggregations
Joins in SQL

Unit 3: Statistics and Data Visualisation -

Data Visualisation using matplotlib/seaborn
Plotting Data distributions
Introduction to probability
Discrete and Continuous probability distributions
Inferential Statistics and Hypothesis testing

Unit 4: Machine Learning:

Introduction to machine learning models
Simple and Multiple Regression Models
Logistic Regression
ROC and AUC analysis
KNN and Naive Bayes classifier
SVM Classification and Regression
Tree Based models:
- Decision trees
- Truncation and pruning
- Random Forests and Bagged models
- Gradient Boosted models
Feature selection methods
Model evaluation and hyper parameter tuning
Unsupervised Learning:
- Clustering (K means and Hierarchical)
- Principal Component Analysis
Recommender Systems

Unit 5 - Artificial Intelligence:

Intro to Neural Networks
Types of Neural Networks
Image classification
Deep Learning Neural Networks

Intro to NLP
Basic Lexical processing
Text classification / Topic modelling / Document summarisation
Reinforcement Learning Models

Notes:

Unit 5 could probability be split in 2 depending on how comprehensive the coverage is

In [41]:
print(active_file.closed)

True

In [42]:
print(file_content)

Unit 1: Introduction To Python -

Intro to the Python Programming language
Control structures and functions
Importing libraries - Numpy and Pandas Basics
Data wrangling and cleaning
Exploratory Data Analysis and descriptive statistics

Unit 2: Database Management -

Introduction to Databases and SQL
Retrieving data with SQL
Writing SQL Queries
Functions and aggregations
Joins in SQL

Unit 3: Statistics and Data Visualisation -

Data Visualisation using matplotlib/seaborn
Plotting Data distributions
Introduction to probability
Discrete and Continuous probability distributions
Inferential Statistics and Hypothesis testing

Unit 4: Machine Learning:

Introduction to machine learning models
Simple and Multiple Regression Models
Logistic Regression
ROC and AUC analysis
KNN and Naive Bayes classifier
SVM Classification and Regression
Tree Based models:
- Decision trees
- Truncation and pruning
- Random Forests and Bagged models
- Gradient Boosted models
Feature selection methods
Model evaluation and hyper parameter tuning
Unsupervised Learning:
- Clustering (K means and Hierarchical)
- Principal Component Analysis
Recommender Systems

Unit 5 - Artificial Intelligence:

Intro to Neural Networks
Types of Neural Networks
Image classification
Deep Learning Neural Networks

Intro to NLP
Basic Lexical processing
Text classification / Topic modelling / Document summarisation
Reinforcement Learning Models

Notes:

Unit 5 could probability be split in 2 depending on how comprehensive the coverage is

In [43]:
print(len(file_content))

1517

In [45]:
with open(file_path, 'r') as active_file:
    file_content_list = active_file.readlines()
    
    print(file_content_list[0])
    print(file_content_list[10])
    print(file_content_list[54])

Unit 1: Introduction To Python -

Introduction to Databases and SQL

Reinforcement Learning Models

In [47]:
print(file_content_list)
print('-'*100)
print(len(file_content_list))

['Unit 1: Introduction To Python - \n', '\n', 'Intro to the Python Programming language\n', 'Control structures and functions\n', 'Importing libraries - Numpy and Pandas Basics\n', 'Data wrangling and cleaning\n', 'Exploratory Data Analysis and descriptive statistics\n', '\n', 'Unit 2: Database Management - \n', '\n', 'Introduction to Databases and SQL\n', 'Retrieving data with SQL\n', 'Writing SQL Queries\n', 'Functions and aggregations\n', 'Joins in SQL\n', '\n', 'Unit 3: Statistics and Data Visualisation - \n', '\n', 'Data Visualisation using matplotlib/seaborn\n', 'Plotting Data distributions\n', 'Introduction to probability\n', 'Discrete and Continuous probability distributions\n', 'Inferential Statistics and Hypothesis testing\n', '\n', 'Unit 4: Machine Learning:\n', '\n', 'Introduction to machine learning models \n', 'Simple and Multiple Regression Models\n', 'Logistic Regression\n', 'ROC and AUC analysis\n', 'KNN and Naive Bayes classifier\n', 'SVM Classification and Regression\n', 'Tree Based models:\n', '- Decision trees\n', '- Truncation and pruning\n', '- Random Forests and Bagged models\n', '- Gradient Boosted models\n', 'Feature selection methods \n', 'Model evaluation and hyper parameter tuning \n', 'Unsupervised Learning:\n', '- Clustering (K means and Hierarchical)\n', '- Principal Component Analysis\n', 'Recommender Systems\n', '\n', 'Unit 5 - Artificial Intelligence:\n', '\n', 'Intro to Neural Networks\n', 'Types of Neural Networks\n', 'Image classification\n', 'Deep Learning Neural Networks\n', '\n', 'Intro to NLP\n', 'Basic Lexical processing\n', 'Text classification / Topic modelling / Document summarisation\n', 'Reinforcement Learning Models\n', '\n', 'Notes:\n', '\n', 'Unit 5 could probability be split in 2 depending on how comprehensive the coverage is\n', '\n']
----------------------------------------------------------------------------------------------------
60

In [48]:
for line in file_content_list:
    print(len(line))

34
1
41
33
46
28
53
1
31
1
34
25
20
27
13
1
45
1
44
28
28
50
46
1
26
1
41
38
20
21
31
34
19
17
25
35
26
27
45
23
40
31
20
1
34
1
25
25
21
30
1
13
25
63
30
1
7
1
86
1

In [49]:
%ls

BasicGrammar.ipynb       __pycache__/    mymodule.py
Machine_Learning_AI.txt  mymodule.ipynb  new_file2.txt

In [50]:
ls

BasicGrammar.ipynb       __pycache__/    mymodule.py
Machine_Learning_AI.txt  mymodule.ipynb  new_file2.txt

In [51]:
cat new_file2.txt

this is line0
this is line1
this is line2
this is line3
this is line4
this is line5
this is line6
this is line7
this is line8
this is line9

In [52]:
cat new_file.txt

this is line0
this is line1
this is line2
this is line3
this is line4
this is line5
this is line6
this is line7
this is line8
this is line9

In [53]:
with open('new_file.txt','w') as file_test:
    file_test.write('this is line 0 \n')
    file_test.write('this is line 1 \n')
    file_test.write('this is line 2 \n')
    file_test.write('this is line 3 \n')

In [54]:
cat new_file.txt

this is line 0
this is line 1
this is line 2
this is line 3

In [55]:
with open('new_file.txt','r+') as file_test:
    file_test.write('dd')

In [56]:
cat new_file.txt

ddis is line 0
this is line 1
this is line 2
this is line 3

In [57]:
with open('new_file.txt','r+') as file_test:
    file_test.write('dddd')

In [58]:
cat new_file.txt

dddd is line 0
this is line 1
this is line 2
this is line 3

In [61]:
with open('new_file.txt','a+') as file_add:
    file_add.write('this sentence is new one')

In [62]:
cat new_file.txt

dddd is line 0
this is line 1
this is line 2
this is line 3
ddddthis sentence is new one

In [63]:
os.remove('new_file.txt')

In [64]:
os.path.exists('new_file.txt')

False

In [65]:
ls

BasicGrammar.ipynb       __pycache__/    mymodule.py
Machine_Learning_AI.txt  mymodule.ipynb

In [66]:
os.remove('mymodule.ipynb')

In [67]:
ls

BasicGrammar.ipynb  Machine_Learning_AI.txt  __pycache__/  mymodule.py

*args  **kwargs

In [78]:
def func2 (*args):
    return args[0] + args[1]

In [81]:
func2(2, 5, 9)

7

In [111]:
def return_png (*args):
    
    png_list = []
    
    for file in args:
        if file[-4:] == '.png':
            png_list.append(file)
    
    return result_list

In [146]:
def print_dict(**kwargs):
    
    param_a = kwargs.get('k1', 10)
    param_b = kwargs.get('k2', 10)
    param_c = kwargs.get('k3', 10)
    param_d = kwargs.get('k4', 10)
    param_e = kwargs.get('k5', 90)
    
    print(param_e)

In [148]:
print_dict(k1 = 100)

90

In [ ]:
%