## axisの挙動について

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]],columns=["col1", "col2", "col3", "col4"])

In [24]:
df

   col1  col2  col3  col4
0     1     2     3     4
1     5     6     7     8
2     9    10    11    12

In [25]:
df.shape

(3, 4)

In [10]:
df.mean()

col1    5.0
col2    6.0
col3    7.0
col4    8.0
dtype: float64

In [11]:
df.mean(axis=0)

col1    5.0
col2    6.0
col3    7.0
col4    8.0
dtype: float64

In [28]:
df.mean(axis=1)

0     2.5
1     6.5
2    10.5
dtype: float64

In [19]:
df.drop("col4",axis=1)

   col1  col2  col3
0     1     2     3
1     5     6     7
2     9    10    11

In [20]:
df.drop(0,axis=0)

   col1  col2  col3  col4
1     5     6     7     8
2     9    10    11    12