In [ ]:
# !pip install gspread

In [ ]:
# !pip install oauth2client

In [50]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [51]:
json_file = 'household-account-api-edaa721ed006.json'
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(json_file, scope)
gc = gspread.authorize(credentials)

# if you use spread sheet file name 
# file_name = 'AMEX_DB'
# sh = gc.open(file_name)

# if you use spread sheet url
url = 'ttps://docs.google.com/spreadsheets/d/1BCYfBoQbehqcDRGAtRBmuS_KWwZ65PpXg9O_t3y_7AU/edit#gid=0'
sp_key = url.split('/')[5]
sh = gc.open_by_key(sp_key)

In [27]:
# show spread-sheet sheet-list
sheet_list = [ws.title for ws in sh.worksheets()]
sheet_list

['2022', '2021']

In [43]:
ws=sh.worksheet(sheet_list[1])

df_21 = pd.DataFrame(data=ws.get_all_values()[2:],
                     columns=ws.get_all_values()[1],
                    )
df_21

               Date Currency            breakdown
0          1/1/2021     1427       アマゾン シーオージェーピー
1          1/1/2021      679       アマゾン シーオージェーピー
2          1/1/2021     1480   Ａｐｐｌｅ ｉＴｕｎｅｓ Ｓｔｏｒｅ
3          1/2/2021     7920              アリオ 専門店
4          1/2/2021     2310           アリオ 専門店 食品
...  ..         ...      ...                  ...
1096     12/31/2021     4000  會員サロン「林檎班」 埼玉県 さいたま
1097     12/31/2021    10000  福岡県飯塚市〔さとふる〕 福岡県 飯塚
1098     12/31/2021     4510       Ｓｏ?ｎｅｔ 東京都 品川区
1099     12/21/2021     2420   エ?スコンタクト３Ｃシステム月会費等
1100     12/21/2021     2420   エ?スコンタクト３Ｃシステム月会費等

[1101 rows x 4 columns]

In [42]:
ws=sh.worksheet(sheet_list[0])

df_22 = pd.DataFrame(data=ws.get_all_values()[2:],
                     columns=ws.get_all_values()[1],
                    )
df_22

             Date Currency            breakdown
0        1/1/2022      980  カレコ・カ?シェアリングクラブ 東京都
1        1/2/2022      257         GOOGLE*CLOUD
2        1/2/2022      357       アマゾン シーオージェーピー
3        1/3/2022     1700       アマゾン シーオージェーピー
4        1/3/2022     2480    アマゾン ＪＰ マーケットプレイス
..  ..        ...      ...                  ...
506     4/11/2022    5,000  Ｓｕｉｃａ〔携帯決済〕 東京都 渋谷区
507     4/15/2022    1,075                東急ストア
508     4/15/2022   35,234  申告所得税及復興特別所得税 東京都 千
509     3/21/2022    2,420   エ?スコンタクト３Ｃシステム月会費等
510     3/21/2022    2,420   エ?スコンタクト３Ｃシステム月会費等

[511 rows x 4 columns]