In [4]:
# 以下の解説

#multicolumnsのデータフレームを整形する関数
def columns_reshape(data_frame, col_one_line=True, connection_character='_'):
    """
    綺麗になった，dataframe が返される
    Args:
        data_frame: dataframe
        col_one_line: 返されるデータフレームのカラムをマルチカラムにしない場合はTrue
        connection_character: マルチインデックスを解除するときに結合する文字列の指定

    Returns:
        dataframe
    """
    df = data_frame.copy()
    if type(df.columns) is pd.MultiIndex:

        # 列にUnnamedという文字の入った内容を削除しインデックスを振り直す
        df = df.rename(columns=lambda x: '' if 'Unnamed' in str(x) else x)

        # cols = df.columns
        col_list = list(df.columns)

        # 無効セルは上に詰める
        for i, col in enumerate(col_list):
            pack = [content for content in col if content != ""]
            col_list[i] = tuple(pack + ([""] * (len(col) - len(pack))))
        df.columns = pd.MultiIndex.from_tuples(col_list)
        
        # multi-columnsを1行に
        if col_one_line:
            df.columns = df.columns.to_series().apply(f'{connection_character}'.join)
            if len(connection_character) > 0:
                df.columns = [col[:-1] if col[-1] == f'{connection_character}' else col for col in df.columns]
        df.columns.names = tuple([None for x in df.columns.names])
        
    return df

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('Book1.xlsx', skiprows=2, header=[0, 1])

In [9]:
df_tmp = columns_reshape(df, col_one_line=False)

In [10]:
df_tmp

     No    状態          備考
           体重  体脂肪率
0  1001  65.5  16.4   NaN
1  1002  11.0  19.8   NaN
2  1003  65.1  35.8  飲み過ぎ
3  1004  61.6  25.9   NaN
4  1005  35.5  16.4   NaN
5  1006  91.5  19.8  食べ過ぎ
6  1007  61.6  35.8   NaN
7  1008  35.5  25.9   NaN
8  1009  91.5  19.8   NaN
9  1010  11.0  35.8   NaN

In [ ]:
    df = data_frame.copy()
    if type(df.columns) is not pd.MultiIndex:
        return df

    # 列にUnnamedという文字の入った内容を削除しインデックスを振り直す
    df = df.rename(columns=lambda x: '' if 'Unnamed' in str(x) else x)

    cols = df.columns
    copy_col = list(cols)

    # 無効セルは上に詰める
    for i, col in enumerate(copy_col):
        pack = [content for content in col if content != ""]
        copy_col[i] = tuple(pack + ([""] * (len(col) - len(pack))))

    df.columns = pd.MultiIndex.from_tuples(copy_col)
    # multi-columnsを1行に
    if col_one_line:
        df.columns = df.columns.to_series().apply(f'{connection_character}'.join)
        if len(connection_character) > 0:
            df.columns = [col[:-1] if col[-1] == f'{connection_character}' else col for col in df.columns]
    cols.names = tuple([None for x in cols.names])
    return df